:root {
    --deepNavy: #012E40;
    --tealBlue: #024959;
    --darkTurquoise: #026773;
    --lightTeal: #3CA6A6;
    --neonCyan: #00F5FF;
    --softBeige: #F2E3D5;
    --darkGrey: #222831;
}

/* PAGE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--deepNavy);
    color: var(--softBeige);
    font-family: "karla", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

section {
    padding: 100px 0;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Background Animation Container */
.background-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/* Animated Circles */
.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.1);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

/* Circle Animations */
.circles li:nth-child(1) { left: 25%; width: 80px; height: 80px; animation-delay: 0s; }
.circles li:nth-child(2) { left: 10%; width: 55px; height: 55px; animation-delay: 2s; animation-duration: 12s; }
.circles li:nth-child(3) { left: 70%; width: 20px; height: 20px; animation-delay: 4s; }
.circles li:nth-child(4) { left: 40%; width: 60px; height: 60px; animation-delay: 0s; animation-duration: 18s; }
.circles li:nth-child(5) { left: 65%; width: 20px; height: 20px; animation-delay: 0s; }
.circles li:nth-child(6) { left: 75%; width: 40px; height: 40px; animation-delay: 3s; }
.circles li:nth-child(7) { left: 35%; width: 120px; height: 120px; animation-delay: 7s; }
.circles li:nth-child(8) { left: 50%; width: 90px; height: 90px; animation-delay: 15s; animation-duration: 45s; }
.circles li:nth-child(9) { left: 20%; width: 25px; height: 25px; animation-delay: 2s; animation-duration: 35s; }
.circles li:nth-child(10) { left: 85%; width: 100px; height: 100px; animation-delay: 0s; animation-duration: 11s; }

/* Circle Animation */
@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

/* MENU */
header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    background-color: var(--deepNavy);
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logo a {
    color: inherit;
    text-decoration: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav ul li a {
    text-decoration: none;
    color: var(--softBeige);
    font-size: 1.1em;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

nav ul li a:hover, .header-right i:hover {
    color: var(--neonCyan);
    transform: scale(1.1);
    transition: transform 0.3s ease, color 0.3s ease;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-right i {
    color: var(--softBeige);
    font-size: 1.5rem;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    padding: 0 5% 10%;
}

.about-text {
    max-width: 600px;
}

#about h1 {
    font-size: 3rem;
    line-height: 1.2;
}

#about span {
    color: var(--softBeige);
}

#about .name {
    font-weight: normal;
}

#about p {
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.6;
    font-family: "Inconsolata", serif;
    font-style: normal;
}

.about-buttons {
    display: flex;
    gap: 20px;
}

.about-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid var(--neonCyan);
    color: var(--neonCyan);
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 1.1em;
    font-family: "Inconsolata", serif;
    transition: color 0.5s ease, background-color 0.5s ease;
}

.about-btn:hover {
    background-color: var(--neonCyan);
    color: var(--deepNavy);
    transition: color 0.5s ease, background-color 0.5s ease;
}

/* Hello Animation */
.hello-container {
    display: flex;
    font-size: 50px;
    position: relative;
}

.hello-container .letter {
    opacity: 0;
    transform: translateY(-50px);
    display: inline-block;
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
}

@keyframes drop {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    60% {
        opacity: 1;
        transform: translateY(5px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate .letter {
    animation: drop 0.5s ease-out forwards;
}

/* h-e-l-l-o-, */
.hello-container .letter:nth-child(1) { animation-delay: 0.1s; }
.hello-container .letter:nth-child(2) { animation-delay: 0.2s; }
.hello-container .letter:nth-child(3) { animation-delay: 0.3s; }
.hello-container .letter:nth-child(4) { animation-delay: 0.4s; }
.hello-container .letter:nth-child(5) { animation-delay: 0.5s; }
.hello-container .letter:nth-child(6) { animation-delay: 0.6s; }

h1 span, p span, .cta-btn {
    opacity: 0;
    transform: translateY(-50px);
    display: inline-block;
    animation: drop 0.5s ease-out forwards;
}

h1 span:nth-child(1) { animation-delay: 0.7s; }
h1 span:nth-child(2) { animation-delay: 0.8s; }
h1 span:nth-child(3) { animation-delay: 0.9s; }
h1 span:nth-child(4) { animation-delay: 1.0s; }
h1 span:nth-child(5) { animation-delay: 1.1s; }
h1 span:nth-child(6) { animation-delay: 1.2s; }
h1 span:nth-child(7) { animation-delay: 1.3s; }
p span { animation-delay: 1.4s; }
.cta-btn { animation-delay: 1.5s; }


/* ACADEMIC CREDENTIALS */

#academic-credentials {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.academic-credentials-container {
    padding: 30px 30px 0px;
}

#academic-credentials h2 {
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--lightTeal);
}

th {
    background-color: var(--darkTurquoise);
}

td a {
    text-decoration: none;
    color: inherit;
}


/* ACADEMIC WORK EXPERIENCES */

#projects {
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
}

.projects-heading {
    margin-bottom: 30px;
    text-align: center;
}

.container-project {
    display: flex;
    max-width: 800px;
    padding: 30px 30px 0px;
    border-radius: 10px;
    position: relative;
    align-items: center;
}

.content-project {
    flex: 1;
}

.content-project h2 {
    color: var(--neonCyan);
    font-size: 16px;
}

.content-project h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

.content-project h1 a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
}

.content-project h1 a:hover {
    color: var(--neonCyan);
    transition: color 0.5s ease;
}

.description-project {
    background-color: var(--tealBlue);
    padding: 25px;
    border-radius: 5px;
    position: absolute;
    left: 30px;
    top: 100px;
    width: 50%;
    z-index: 2;
    --desc-height: auto;
}

.description-project p {
    font-size: 0.9em;
    line-height: 1.5;
}

.tags-feature {
    margin-top: calc(var(--desc-height) + (var(--desc-height) * .15));
}

.tags-feature span {
    display: inline-block;
    background-color: var(--darkGrey);
    padding: 5px 10px;
    margin: 5px 5px 0 0;
    border-radius: 5px;
    font-size: 12px;
}

.image-feature {
    flex: 1;
    position: relative;
    min-width: 360px;
    min-height: 202.5px;
}

.image-feature img {
    width: 100%;
    border-radius: 5px;
    filter: saturate(30%);
    transition: all 0.5s ease;
}

.image-feature img:hover {
    filter: saturate(100%);
    transition: all 0.5s ease;
}

.icon {
    margin: 10px 5px 0px;
    display: flex;
    gap: 15px;
}

.icon a {
    color: var(--darkTurquoise);
    font-size: 0.9em;
    transition: color 0.5s ease, transform 0.5s ease;
}

.icon a:hover {
    transform: scale(1.1);
    color: var(--neonCyan);
    transition: color 0.5s ease, transform 0.5s ease;
}

.container-project:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
}

.container-project:nth-child(odd) .icon {
    justify-content: flex-end;
}

.container-project:nth-child(odd) .description-project {
    left: auto;
    right: 30px;
}

/* OTHER PROJECTS SECTION */

#capstone-documentation {
    text-align: center;
    padding-top: 50px;
}

#capstone-documentation h2 {
    font-size: 24px;
    margin-bottom: 50px;
    color: inherit;
}

.project {
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 5px;
}

.container-project:nth-child(odd) {
    flex-direction: row-reverse;
    text-align: right;
}

.container-project:nth-child(odd) .description-project {
    left: auto;
    right: 30px;
}

.project:nth-child(odd) {
    flex-direction: row;
    text-align: right;
}

.project img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    order: -1;
}

.project-info {
    max-width: 600px;
    font-family: "inconsolata", serif;
}

.project-info h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--darkTurquoise);
}

.tags {
    margin-top: 15px;
}

.tags span {
    background-color: var(--deepNavy);
    color: var(--darkTurquoise);
    border: 1px solid var(--darkTurquoise);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.icon {
    margin-top: 15px;
    font-size: 1.3em;
}

.project-info h3:hover, .icon i:hover {
    color: var(--neonCyan);
    cursor: pointer;
}

/* Project Cards */
.other-projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    font-family: "inconsolata", serif;
}

.card-link {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: inherit;
}

.other-project-card, .hidden-project {
    background-color: var(--tealBlue);
    padding: 20px;
    border-radius: 8px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    position: relative;
}

/* Maintain square shape on hover */
.other-project-card:hover {
    transform: translateY(-10px);
}

.card-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 2;
}

.card-header h3 {
    margin: 0;
    font-size: 1.2em;
    transition: color 0.3s ease;
    font-family: "karla", sans-serif;
}

.card-header a {
    font-size: 1.2em;
    color: var(--softBeige);
    transition: color 0.3s ease-in-out;
    padding-top: 2px;
}

.card-header a:hover {
    color: var(--neonCyan);
}


.other-project-card:hover .card-header h3 {
    color: var(--neonCyan);
}

.tech-stack {
    margin-top: 10px;
    font-size: 0.8em;
    opacity: 0.8;
}

.tech-stack span {
    padding-right: 10px;
}

.show-more, .contact-me {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: var(--deepNavy);
    border: 2px solid var(--neonCyan);
    border-radius: 5px;
    color: var(--neonCyan);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: "Inconsolata", serif;
}

.show-more:hover, .contact-me:hover {
    background-color: var(--neonCyan);
    color: var(--deepNavy);
}

.hidden-project {
    opacity: 0;
    max-height: 0;
    width: 250px;
    height: 250px;
    padding: 0;
    margin: 0;
    transition: 
    opacity 0.4s ease-in-out, 
    max-height 0.4s ease-in-out, 
    padding 0.4s ease-in-out, 
    margin 0.4s ease-in-out, 
    width 0s linear 0.4s, 
    height 0s linear 0.4s,
    transform 0.3s ease, 
    background-color 0.3s ease;
}

.hidden-project.visible {
    display: flex;
    opacity: 1;
    max-height: 250px;
    padding: 20px;
}

.hidden-project p,
.hidden-project .card-header {
    display: none;
}

.show-more:hover {
    background-color: var(--neonCyan);
    color: var(--deepNavy); 
}

/* CONTACT SECTION */

.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    text-align: center;
}

.contact-container p {
    max-width: 400px;
    font-family: "inconsolata", serif;
}

.footer {
    color: var(--softBeige);
    text-align: center;
    padding: 30px;
    font-family: "inconsolata", serif;
    font-size: 0.8em;
}